<!DOCTYPE html>
<html lang="en">
<head>
    <title>BOMB EM</title>
    <meta name="description" content="My first online multiplayer game">
    <link id="favicon" rel="icon" href="/icon.jpg" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    <script defer src="/socket.io.js"></script>
    <script defer src="/p5.js"></script>
    <script defer src="/jquery-3.3.1.min.js"></script>
    <script defer src="/questions.js"></script>
    <script defer src="/client.js"></script>
    <script defer src="/domElements.js"></script>
    <script defer src="/main.js"></script>
    <script defer src="/testing.js"></script>
</head>
<body>
    <!-- CANVAS -->
    <div id="canvasContainer"></div>

    <!-- INTRODUCTORY SCREEN / HOME -->
    <div class="screen" id="intro">
        <h1>BOMB EM</h1>
        <h2>Play against your friends and classmates</h2>
        <h2>Gain total domination of your Crosstopian City</h2>
        <button class="myButton" id="setUpGameBtn">SET UP GAME</button>
        <button class="myButton" id="joinGameBtn">JOIN GAME</button>
        <p>If you were already playing but got disconnected, select the button below</p>
        <button class="myButton">I WAS DISCONNECTED!</button>
    </div>

    <!-- SET UP GAME -->
    <div class="screen" id="setUpScreen">
        <h1>SET UP GAME</h1>
        <h2>WELCOME TO CROSSTOPIA, THE VIRTUAL ISLAND OF GLORIOUS WARFARE</h2>
        <p>You will be hosting a game, the players will join the game once you have set it up </p>
        <p>Make up your own city by filling in the form below</p>
        <p>Make a note of these details as the players will need these to join the game</p>
        <div class="flexCenter">
            <form id="setUpForm">
                <label class="myLabel" for="nameOfCity">Come up with a name for your city: </label>
                <input type="text" class="textInput" id="nameOfCity" required>
                <label class="myLabel" for="passwordForCity">Create a password that the players will use to access your city:</label>
                <input type="password" class="textInput" id="passwordForCity" required>
                <label class="myLabel" for="retypePassword">Retype this password:</label>
                <input type="password" class="textInput" id="retypePassword" required>
                <button class="myButton" id="backBtnSetUp">BACK</button>
                <input type="submit" id="setUpSubmit" value="GO!" class="myButton">
            </form>
        </div>
    </div>

    <!-- WAITING FOR PLAYERS -->
    <div id="waitingForPlayersScreen" class="screen">
        <!-- TWO DIVS SPLIT ONE ON LEFT ONE ON RIGHT-->
        <div>
            <h1>Your City is Ready To Go!</h1>
            <p>Now we just need the players to connect</p>
            <p>Get them to find this website</p>
            <p>Tell them to choose <b>JOIN GAME</b></p>
            <p>Get them to use the following details to join:</p>
            <p id="nameOfCityDisplayed"></p>
            <p id="passwordForCityDisplayed"></p>
            <p>Once everyone has joined, press CONTINUE</p>
            <button id="startGameBtn" class="myButton">CONTINUE</button>
        </div>
        <div>
            <h1>Players: </h1>
            <div class="flexCenter">
                <ul class="listOfPlayers" id="listOfPlayers1">

                </ul>
            </div>
        </div>
    </div>

    <!-- FINDING EXISTING CITY TO JOIN -->
    <div class="screen" id="findCityScreen">
        <h1>FIND CITY</h1>
        <h2>Your host should have the following details ready for you:</h2>
        <p>If not get someone to go back and set up a game.</p>
        <form id="findCityForm">
            <label for="findCityName">CITY NAME: </label>
            <input type="text" class="textInput" id="findCityName" required>
            <label for="findCityPassword">PASSWORD: </label>
            <input type="password" class="textInput" id="findCityPassword" required>
            <input type="submit" value="GO!" class="myButton">
        </form>
        <button class="myButton" id="backBtnJoinGame">BACK</button>
    </div>

    <!-- JOIN GAME SCREEN -->
    <div class="screen" id="joinGameScreen">
        <h1>JOIN GAME</h1>
        <h2>Are you ready to win?! Fill in the details below.</h2>
        <p>You will need to come up with a team name, and a 4-digit PIN in case you get disconnected</p>
        <form id="joinGameForm">
            <label for="playerNameInput">Team Name: </label>
            <input type="text" class="textInput" id="playerNameInput" required>
            <label for="playerPINInput">PIN: </label>
            <input type="number" class="textInput" id="playerPINInput" min="1000" max="9999" required>
            <input type="submit" value="GO!" class="myButton greenGradient">
        </form>
    </div>

    <!-- LOBBY - WAITING FOR PLAYERS TO JOIN -->
    <div class="screen" id="lobbyScreen">
        <div>
            <h1>You Are All Set!</h1>
            <h2>Good job, your team has joined the game.</h2>
            <p>Now we wait for all the other teams to join the game. </p>
            <p>Once everyone has joined the host will need to press the READY button</p>
        </div>
        <div>
            <h1>Players: </h1>
            <div class="flexCenter">
                <ul class="listOfPlayers" id="listOfPlayers2"></ul>
            </div>
        </div>
    </div>

    <!-- GAME -->
    <div class="screen" id="gameStartedScreen">
        <p id="gameStartCountDown">GAME STARTS IN: </p>
        <div id="quizContainer">
            <div id="question"></div>
            <div class="answer" id="answer_0">TEST</div>
            <div class="answer" id="answer_1"></div>
            <div class="answer" id="answer_2"></div>
            <div class="answer" id="answer_3"></div>
        </div>
    </div>

</body>
</html>
