/*@import url('https://fonts.googleapis.com/css?family=VT323');*/

@font-face {
    font-family: 'VT323';
    src: url("VT323/VT323-Regular.ttf");
}

* {
    font-family: 'VT323', monospace;
}

body {
    margin: 0;
    /*font-family: 'VT323', monospace;*/
    text-align: center;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#canvasContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/*#intro {*/
    /*font-size: 25px;*/
/*}*/

.screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    font-size: 25px;
    overflow-y: scroll;
}

#waitingForPlayersScreen, #lobbyScreen {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    #waitingForPlayersScreen, #lobbyScreen {
       display: block;
    }
}

.listOfPlayers {
    border: 5px inset #AADDAA;
    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 60vh;
    overflow: scroll;
}

.textInput {
    font-size: 24px;
    padding: 5px;
}

.myButton {
    font-size: 50px;
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 10px;
    border: #DDDDFF 2px solid;
    box-shadow: black 8px 5px 15px;
    background: linear-gradient(#EEEEEE, #AAAAAA);
    cursor: pointer;
}

.myButton:active {
    transform: translate(2px, 2px);
    box-shadow: black 6px 3px 15px;
}

.myButton:focus {
    outline: none;
}

.greenGradient {
    background: linear-gradient(#AADDAA, #55DD55);
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.alignCenter {
    height: 100vh;
    align-items: center;
}

#setUpForm {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}

@media only screen and (max-width: 983px) {
    #setUpForm {
        grid-template-columns: 1fr 45vw;
    }
}

.myLabel {
    justify-self: right;
    text-align: right;
    font-weight: bold;
}

#setUpSubmit {
    /*grid-column: 1 / span 2;*/
    /*width: 300px;*/
    /*justify-self: center;*/
}

#gameStartCountDown {
    font-size: 30px;
}

#quizContainer {
    width: 70vw;
    height: 70vh;
    max-width: 500px;
    padding: 10vh 10vw;
    /*background: rgba(255, 255, 200, 0.5);*/
    /*border: 5px solid #FFFF88;*/
    border-radius: 10vw;
    box-shadow: rgba(0,0,0,0.5) 10px 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#penaltyPanel {
    background: #222222;
    color: #FF5555;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    font-size: 50px;
}

.checkered {
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#question {
    font-size: 42px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
}

.answer {
    background: linear-gradient(#AAAAAA, #BBAAAA);
    padding: 20px;
    margin: 20px 0;
    width: 98%;
    height: 80px;
    max-width: 500px;
    border-radius: 40px;
    font-size: 30px;
    cursor: pointer;
}

.answer:hover {
    background: linear-gradient(#EEEEEE, #FFEEEE);
}

#correctMsg {
    color: #55DD55;
}

#incorrectMsg {
    color: #AA5555;
}

.resultOfAnswer {
    font-size: 50px;
    position: fixed;
    top: calc(50vh - 25px);
    width: 100vw;
    text-align: center;
    pointer-events: none;
    z-index: 200;
}

.burstAnimation {
    animation: burst 800ms linear 0s forwards;
}

@keyframes burst {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}